@font-face {
  font-family: 'jbm';
  src: url('Qdbettercomicsansalternates-z8823.ttf');
}

body {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  min-height: 100vh;
  margin: 0;
  font-family: 'jbm', monospace;
  text-align: center;
}

h1, .titles, .socialmedia, .placeholder, .justText, .articleTitle {
  font-family: inherit;
}

a {
  text-decoration: none;
}

.articleTitle {
  font-size: medium;
}

.articleImages {
  display: block;
  margin: 0 auto;
  width: 50%;
}

.socialmedia {
  display: flex;
  justify-content: center;
  gap: 20px; /* adjust as needed */
}


